:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  width: 750px;
  padding: 1.5rem;
  background: lightgray;
  margin: 5rem;
}

#info {
  width: 40%;
  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .label {
    font-weight: 700;
  }

}

@media screen and (max-width: 479px) {
  #about {
    width: 100%;
    margin: 0;
  }

  #info {
    width: 100%;
  }

}
