<section id="about">
  <div id="info">
    <div><span class="label">Készítette:</span><span>Magyar Zsolt</span></div>
    <div><span class="label">Email:</span><span>ma.zsolt89@gmail.com</span></div>
    <div><span class="label">Mobil:</span><span>06 30 210 9042</span></div>
  </div>
  <div id="bugs">
    <h3>Hibák:</h3>
    <ul>
      <li>A Todo-k prioritását nem lehet átálítani az update-el.</li>
      <li>A Todo description egy bizonyos hossz felett (max 255 karakter) 500as hibát okoz ezért a textare maxlength-nek 255-t állítottam be.</li>
      <li>A "todo/finish/:id" végpont már finished állapotú Todo-t is elfogad, habár ilyenkor az adatbázisban változás nem történik. A store miatt disabled-re állítottam a finished állapotú Todo-k checkboxait.</li>
    </ul>
  </div>
</section>

